<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Enrollment Form</title>
  </head>
  <body>
    <header class="p-2 bg-gray-500">
      <h1 class="text-2xl font-bold text-white text-center">
        Student Enrollment Form
      </h1>
    </header>
    <nav class="flex justify-between mt-2">
      <div class="flex gap-5 ml-5">
        <a
          href="#"
          class="p-2 hover:bg-black hover:text-white focus:bg-black focus:text-white font-bold"
          >Personal Details</a
        ><a
          href="#"
          class="p-2 hover:bg-black hover:text-white focus:bg-black focus:text-white font-bold"
          >Qualification & Document Details</a
        ><a
          href="#"
          class="p-2 hover:bg-black hover:text-white focus:bg-black focus:text-white font-bold"
          >Declaration</a
        >
      </div>
      <div class="mr-10 p-2">
        <span class="font-bold">Enrollment Status: PENDING</span>
      </div>
    </nav>
  </body>
</html>
